<?xml version="1.0"?>

<model>
  <name>Maschinenhalle</name>
  <version>1.0</version>
  <sdf version='1.0'>model.sdf</sdf>

  <author>
    <name>Konstantin Ditschuneit</name>
    <email>kditschuneit@icloud.com</email>
  </author>

  <description>
    Ground area of Maschinenhalle
  </description>
</model>
