<?xml version="1.0"?>
<launch>
  <arg name="car_name" default="dr_drift" />
  <arg name="model" default="$(find gazebo_simulation)/param/car_specs/$(arg car_name)/model.urdf"/>
  <param name="robot_description" textfile="$(arg model)"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg car_name)"/>
</launch>
