backports.functools-lru-cache==1.5
better-apidoc==0.3.1
cachetools==4.0.0
catkin-pkg==0.4.16
cycler==0.10.0
docutils==0.16
empy==3.3.4
graphviz==0.13.2
kiwisolver==1.1.0
lxml==4.5.0
matplotlib==3.2.1
numpy==1.18.2
opencv-python>=4.2
pycairo==1.18.1
pycparser==2.19
pyparsing==2.4.2
pyquaternion==0.9.5
PySide2==5.13.1
python-dateutil==2.8.0
pytz==2019.2
PyXB==1.2.6
PyYAML
ratelimit==2.2.1
rospkg==1.1.10
scipy==1.4.1
Shapely==1.6.4.post2
shiboken2==5.13.1
six==1.12.0
subprocess32==3.5.4
tqdm==4.36.1
PyGObject==3.34.0
Sphinx==3.0.2
sphinx_rtd_theme
sphinxcontrib-programoutput
sphinx-prompt
testresources
breathe==4.16.0
hypothesis==5.12.0
pre-commit==1.21.0