<?xml version="1.0"?>

<model>
  <name>RGBD Camera ROS</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Fabian Reister</name>
    <email>fabian.reister92@gmail.com</email>
  </author>

  <description>
    A RGBD camera model for an Intel Realsense and others based on the gazebo_ros_depth_camera plugin
  </description>
</model>
