<!-- Running KITcar_brain software needed for the simulation -->
<launch>
  <arg name="car_name" default="dr_drift" />

  <include file="$(find mission_control)/launch/mission_control.launch" >
    <arg name="car_name" value="$(arg car_name)" />
    <arg name="simulation_mode" value="true" />
  </include>

  <include file="$(find perception)/launch/perception.launch">
    <arg name="start_camera" value="false" />
    <arg name="car_name" value="$(arg car_name)" />
    <arg name="camera_parameters_prefix" value="$(find gazebo_simulation)/param/car_specs/$(arg car_name)"/>
    <arg name="use_nodelet" value="false"/>
  </include>

  <include file="$(find control)/launch/lateral_controller_node.launch">
       <arg name="car_name" value="$(arg car_name)" />
  </include>
  
  <include file="$(find control)/launch/longitudinal_controller_node.launch">
       <arg name="car_name" value="$(arg car_name)" />
  </include>
  
  <include file="$(find navigation)/launch/navigation.launch">
    <arg name="car_name" value="$(arg car_name)" />
  </include>

  <include file="$(find car_specs)/launch/load_coorinate_systems.launch">
    <arg name="car_name" value="$(arg car_name)" />
  </include>

</launch>
