<?xml version='1.0'?>
<model>
    <name>empty_with_box</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>
    <author>
        <name>KITcar</name>
    </author>
    <description>This world is used by the model interface node ROS test, located in the `gazebo_simulation` package.</description>
</model>
