<!-- KITcar launch script for pre_cropping -->
<launch>
  <arg name="start_activated" default="true" />
  <arg name="car_name" default="dr_drift" />
  <arg name="name" default="curves"/>
	<arg name="rate" default="0.5"/>


	<node name="groundtruth_node" ns="gazebo_simulation" pkg="gazebo_groundtruth" type="groundtruth_node" output="screen">
		<param name="start_activated" value="$(arg start_activated)" />
		<param name="road" value="$(arg name)"/>
		<param name="car_name" value="$(arg car_name)"/>
		<param name="rate" value="$(arg rate)"/>
  </node>  

</launch>
