<?xml version='1.0'?>
<model>
    <name>base_road</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>
    <author>
        <name>KITcar_simulation subteam</name>
        <email>kitcar-simulation@lists.kit.edu</email>
    </author>
    <description>Empty world that serves as a base world for all other roads.</description>
</model>
