<!-- KITcar launch script for pre_cropping -->
<launch>
  <arg name="start_activated" default="true" />

  <node name="pre_cropping" ns="gazebo_simulation" pkg="gazebo_simulation" type="pre_cropping" output="screen">
   <rosparam file="$(find gazebo_simulation)/param/pre_cropping/default.yaml" command="load" ns="default" />
   <rosparam file="$(find gazebo_simulation)/param/pre_cropping/free_ride_mode.yaml" command="load" ns="free_ride_mode" />
   <rosparam file="$(find gazebo_simulation)/param/pre_cropping/obstacle_mode.yaml" command="load" ns="obstacle_mode" />
   <rosparam file="$(find gazebo_simulation)/param/pre_cropping/parking_mode.yaml" command="load" ns="parking_mode" />

   <param name="start_activated" value="$(arg start_activated)" />
  </node>
</launch>
