<!-- KITcar launch script for pre_cropping -->
<launch>
  <arg name="start_activated" default="true" />

  <node name="sensor_camera_node" ns="simulation_brain_link" pkg="simulation_brain_link" type="sensor_camera" output="screen">
   <rosparam file="$(find simulation_brain_link)/param/sensor_camera/default.yaml" command="load" ns="default" />
   <rosparam file="$(find simulation_brain_link)/param/sensor_camera/free_ride_mode.yaml" command="load" ns="free_ride_mode" />
   <rosparam file="$(find simulation_brain_link)/param/sensor_camera/obstacle_mode.yaml" command="load" ns="obstacle_mode" />
   <rosparam file="$(find simulation_brain_link)/param/sensor_camera/parking_mode.yaml" command="load" ns="parking_mode" />


   <param name="sub_topic" value="/simulation/sensors/raw/camera" />
   <param name="pub_topic" value="/simulation/sensors/prepared/camera" />

   <param name="start_activated" value="$(arg start_activated)" />
  </node>
</launch>
